@import "./estilos/hero.css";
@import "./estilos/carrosel.css";
@import "./estilos/produto.css";
@import "./estilos/solucoes.css";
@import "./estilos/card-soluicoes.css";
@import "./estilos/diferenciais.css";
@import "./estilos/case-secesso.css";
@import "./estilos/integracoes.css";
@import "./estilos/crm.css";

body {
  padding-top: 50px;
}

.bg-azul {
  background-image: url('../img/bg1.png');
  background-size: cover;
}

.bg-azul-claro {
  background: linear-gradient(135deg, #E6F0F8 0%, #B3D4E8 100%);
}



.detalhebg {
  background-image: url('../img/detalheBG.png');
  background-size: cover;
}





@media (max-width: 767px) {
  #home-quote .display-4 {
    font-size: 2.5rem;
  }

  body {
    padding-top: 0px;
  }

  .fixed-top {
    position: relative;
  }
}