.container-lideranca {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: left;
  align-items: flex-start;
  gap: 34px;
}

.container-cards-lideranca {
  display: flex;
  flex-direction: row;
  margin-top: 44px;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  max-width: 1030px;
  justify-content: left;
  gap: 20px;
  z-index: 5;
}

.card-lideranca {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 190px;
  border-radius: 16px;
}

.card-lideranca img {
  display: block;
  width: 100%;
  height: 190px;
  object-fit: cover;
  object-position: top;
  justify-content: center;
  align-items: center;
  border-radius: 16px 16px 0 0;
}

.container-detalhes-cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  background-color: var(--w);
  height: 180px;
  width: 190px;
  border-radius: 0 0 16px 16px;
  padding: 12px;
  gap: 16px
}

.container-nomes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;

  width: 100%;
}

.nome-co-funder {
  font-size: 16px;
  font-weight: 700;
  color: var(--p4);
}

.container-detalhes-cards span {

  font-size: 12px;
  font-weight: 400;
  color: var(--p3);

}


.container-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  width: 100%;
}


.container-skills p {
  font-size: 10px;
  font-weight: 400;
  border-radius: 8px;
  padding: 4px 8px;
  width: fit-content;
  background-color: var(--p1);
  text-align: left;
  color: var(--p2);
  align-items: center;
  justify-content: left;
  gap: 4px;
  margin: 4px;
}

.container-skills p::before {
  content: "✓";
  display: inline-block;
  width: 7.5px;
  height: 5px;
  margin-right: 4px;
}

@media (max-width: 600px) {
  .container-lideranca {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
  }

  .container-cards-lideranca {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    max-width: 100%;
    justify-content: flex-start;
    gap: 20px;
    z-index: 5;
    position: absolute;
    top: 0%;
  }

  .card-lideranca {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 190px;
    border-radius: 16px;
  }

  .card-lideranca>img {
    display: block;
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: top;
    justify-content: center;
    align-items: center;
    border-radius: 16px 16px 0 0;
  }

  .container-detalhes-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--w);
    height: 180px;
    width: 190px;
    border-radius: 0 0 16px 16px;
    padding: 12px;
    gap: 16px
  }

  .container-nomes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

    width: 100%;
  }

  .nome-co-funder {
    font-size: 16px;
    font-weight: 700;
    color: var(--p4);
  }

  .container-detalhes-cards span {

    font-size: 12px;
    font-weight: 400;
    color: var(--p3);

  }


  .container-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%;
  }


  .container-skills p {
    font-size: 10px;
    font-weight: 400;
    border-radius: 8px;
    padding: 4px 8px;
    width: fit-content;
    background-color: var(--p1);
    text-align: left;
    color: var(--p2);
    align-items: center;
    justify-content: left;
    gap: 4px;
    margin: 4px;
  }

  .container-skills p::before {
    content: "✓";
    display: inline-block;
    width: 7.5px;
    height: 5px;
    margin-right: 4px;
  }
}