.bg-p4 {
  background-color: var(--p4);
}

.bg-p3 {
  background-color: var(--p3);
}

.bg-W {
  background-color: var(--w);
}


/* bg-gradiente */

.bg-azul-claro {
  background: linear-gradient(135deg, #E6F0F8 0%, #B3D4E8 100%);
}

/* bg-imagens */

.bg-azul-img {
  background-image: url('../../img/bg1.png');
  background-size: cover;
}


/* Detalhes-bg */

.detalhebg-1 {
  height: 100%;
  background-image: url('../../img/bg/detalhebg-1.png');
  background-size: cover;
}