.bg-p4 {
  background-color: var(--p4);
  background-size: contain;
}

.bg-p3 {
  background-color: var(--p3);
}

.bg-p1 {
  background-color: #F3F4F3;
}

.bg-w {
  background-color: var(--w);
}


/* bg-gradiente */

.bg-azul-claro {
  background: linear-gradient(135deg, #E6F0F8 0%, #B3D4E8 100%);
}



.bg-img-header-1 {
  background: linear-gradient(90deg, #fff 40%, #00a8e8 40%);
}

.bg-img-header-4 {
  background: linear-gradient(90deg, #083b5b 40%, #00a8e8 40%);
}

/* bg-imagens */

.bg-azul-img {
  background-image: url('../../img/bg/bg1.webp');
  background-size: cover;
}


/* Detalhes-bg */

.detalhebg-1 {
  height: 100%;
  background-image: url('../../img/bg/bg-produto.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--p4);
}