/* ----- cores ----- */

/* variaveis cores */
:root {
  /* tons de cinza até o preto */

  --c11: #000;
  --c10: #2e2e2e;
  --c09: #404040;
  --c08: #595959;
  --c07: #717171;
  --c06: #9c9c9c;
  --c05: #b2b2b2;
  --c04: #cccccc;
  --c03: #dedede;
  --c02: #ededed;
  --c01: #f3f4f3;
  --w: #ffffff;

  /* tons de azul */
  --p5: #003F64;
  --p4: #083b5b;
  --p3: #00a8e8;
  --p2: #6B737D;
  --p2-1: #585F69;
  --p1: #7F8792;

}



.cp4 {
  color: var(--p4);
}

.cp3 {
  color: var(--p3);
}

.cp2 {
  color: var(--p2);
}

.cp1 {
  color: var(--p1);
}

.cpw {
  color: var(--w);
}