.cadastre-se {
  display: flex;
  width: 209px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background-color: var(--p3);
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}