.card-tp-1-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 100px;
  background-color: none;
  height: 100%;
  margin-top: -100px;
  gap: 40px;
}

.bg-1-img {
  background: linear-gradient(90deg, #fff 30%, #007bff 30%);
  size: cover;
  margin-top: -100px;
  height: 100%;
}

.container-marcadores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: left;
  align-items: center;
  height: 201px;
  max-width: 489px;
}

.container-marcador {
  display: flex;
  justify-content: left;
  align-items: center;
  height: auto;


}

.container-marcador span {
  font-size: 32px;
  font-weight: 700;
  color: var(--p2);


}

.marcador-numero {
  font-size: 48px;
  font-weight: 700;
  color: var(--p4);
  margin-left: -8px;
}

.marcador-1::before,
.marcador-2::before {
  content: "+";
  font-size: 32px;
  font-weight: 700;
  color: var(--p3);
  position: relative;
  top: -5px;
  left: 8px;
}

.marcador-3::after {
  content: "x";
  font-size: 32px;
  font-weight: 700;
  color: var(--p3);
  position: relative;
  top: -5px;
  left: -8px;
}

.marcador-4::after {
  content: "%     ";
  font-size: 32px;
  font-weight: 700;
  color: var(--p3);
  position: relative;
  top: -5px;
  left: -8px;
}

.marcador-texto {
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: var(--p2);
}