.container-marcadores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  max-width: 700px;
  height: auto;
}

.container-marcadores>h1 {
  width: 500px;
  font-size: 3rem;
}

.card-marcadores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 100%;
  gap: 30px;
}

.container-marcador-1,
.container-marcador-2 {
  display: inline-block;
  flex-direction: column;
  width: 150px;
  max-width: 100%;
  max-height: 96px;
  justify-content: left;
  align-items: center;
  position: relative;
}

.container-marcador-3 {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 128px;
  max-height: 76px;
  position: relative;
}

.container-marcador-4 {
  display: flex;
  flex-direction: column;
}



.container-marcador {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}


.container-marcador span {
  font-size: 2rem;
  font-weight: 700;
  color: var(--p2);
}

.marcador-numero {
  font-size: 3rem;
  font-weight: 700;
  color: var(--p4);
  padding-left: 0px;
}

.marcador-1::before,
.marcador-2::before {
  content: "+";
  font-size: 2rem;
  font-weight: 700;
  color: var(--p3);
  position: absolute;
  top: 15px;
  left: -10px;
}

.marcador-3::after {
  content: "x";
  font-size: 2rem;
  font-weight: 700;
  color: var(--p3);
  position: absolute;
  top: 25px;
  left: 18px;
}


.marcador-4::after {
  content: "% ";
  font-size: 2rem;
  font-weight: 700;
  color: var(--p3);
  position: relative;
  top: -5px;
  left: -20px;
}

.marcador-texto {
  height: auto;
  font-size: 1rem;
  font-weight: 400;
  color: var(--p2);
}

.m3 {
  margin-left: 15px;
}


.m4 {
  display: flex;
  position: relative;

  top: 0;
  left: -20px;
}


@media (max-width: 600px) {

  .container-marcadores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    max-width: 100%;
    height: 493px;
  }

  .container-marcadores>h1 {
    direction: flex;
    width: 200px;
    max-width: 200px;
    font-size: 1.8rem;
  }

  .container-marcadores>p {
    display: none;
  }

  .card-marcadores {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    height: auto;
    gap: 10px;
    position: relative;
  }

  .container-marcador-1,
  .container-marcador-2 {
    display: inline-block;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    max-height: auto;
    justify-content: left;
    align-items: center;
    position: relative;
  }

  .container-marcador-3 {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 128px;
    max-height: auto;
    top: 0;
    left: 0;
  }

  .container-marcador-4 {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
  }



  .container-marcador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

  }


  .container-marcador span {
    font-size: 1rem;
    font-weight: 700;
    color: var(--p2);
    padding-left: 5px;
  }

  .marcador-numero {
    font-size: 1rem;
    font-weight: 700;
    color: var(--p4);
    padding-left: 0px;
  }

  .marcador-1::before,
  .marcador-2::before {
    content: "+";
    font-size: 1rem;
    font-weight: 700;
    color: var(--p3);

    top: 10px;
    left: -10px;
  }

  .marcador-3::after {
    content: "x";
    font-size: 1rem;
    font-weight: 700;
    color: var(--p3);
    position: absolute;
    top: 25px;
    left: 18px;
  }


  .marcador-4::after {
    content: "% ";
    font-size: 1rem;
    font-weight: 700;
    color: var(--p3);
    position: relative;
    top: -5px;
    left: -10px;
  }

  .marcador-texto {
    height: auto;
    font-size: 1rem;
    font-weight: 400;
    color: var(--p2);
  }

  .m3 {
    margin-left: 15px;
  }


  .m4 {
    display: flex;
    position: relative;
    margin-left: 10px;
  }


}