.card-tp-2-hero {
  background-color: var(--p3);
  position: relative;
  left: 30%;
  padding-left: 100px;
  margin-left: -30%;
  height: 100%;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 60px;
}

.bg-2-img {
  background-color: var(--p4);
  margin-top: -100px;
  height: 100%;
  max-width: 900px;
}

.saiba-mais {
  display: flex;
  width: 249px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background-color: var(--p4);
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}