.saiba-mais {
  display: flex;
  width: 209px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background-color: var(--p4);
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-marcadores-header-2 {
  display: flex;
  width: 100%;
}

.container-marcador-header-2 {

  display: flex;
  flex-wrap: nowrap;

}



.container-marcador-header-2 span {
  font-size: 16px;
  font-weight: 400;
  color: var(--w);
}

.marcador-header-2::after {
  content: "% ";
  font-size: 32px;
  font-weight: 700;
  color: var(--w);
  position: relative;
  top: -5px;

}