.card-tp-1-hero {
  background-color: var(--w);
  position: relative;
  padding-left: 100px;
  width: 130%;
  z-index: -1;
}

.bg-1-img {
  background: linear-gradient(90deg, #fff 30%, #007bff 30%);
  size: cover;
  margin-top: -100px;
  height: 100%;

}

.container-marcadores {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */

  align-items: center;
  margin-top: px;
  height: 201px;
  max-width: 489px;
  gap: 32px;
}

.container-marcadores li {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 96px;
}