.header-2 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
  height: 100%;
  max-width: 640px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
}

.container-marcadores-header-2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.container-marcador-header-2 {
  display: flex;
}

.marcador-header-2 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.marcador-numero-header-2::after {
  content: "% ";
  font-size: 32px;
  font-weight: 700;
  color: var(--w);
  position: relative;
  top: -5px;
  left: -8px;
}

@media (max-width: 600px) {
  .header-2 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0px;
    background-color: aqua;
  }

  .container-marcadores-header-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


  .container-marcador-header-2 {
    display: flex;
    flex-direction: column;
  }

  .marcador-header-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }


}