.container-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-card {
  width: 340.8px;
  height: 422px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}