.case-sucesso-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 670px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.case1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 670px;
  width: 100%;
  position: relative;
}

.case1-bg-desktop {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.case1-bg-mobile {
  display: none;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: ;
  position: absolute;
  z-index: -1;
}

.card-1-case-1 {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: left;
  align-items: center;
  gap: 40px;
  position: absolute;
  padding-left: 80px;
  z-index: 1;
}

.card-1-case-1-mobile {
  display: none;

  background-color: var(--p1);

}

.card-2-case-1-mobile {
  display: none;
  background-color: var(--p3);

}

.container-card-1-case-1 {
  display: flex;
  width: 365px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  color: #fff;
  text-align: left;
  gap: 40px;
}



.card-2-case-1 {
  align-self: center;
  justify-content: left;
  position: absolute;
  display: block;
  left: 60%;
  top: 60%;
  width: 334px;
  max-width: 334px;
  height: 160px;
  font-size: 12px;
  gap: 16px;
}

.card-2-case-1>ul {
  display: flex;
  flex-direction: column;
  line-height: 16px;
  gap: 16px;
}

@media (max-width: 600px) {
  .case-sucesso-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 64px;
  }

  .case1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .case1-bg-desktop {
    display: none;
  }

  .case1-bg-mobile {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 100%;
    align-items: flex-start;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

  }

  .card-1-case-1 {
    display: none;

  }

  .card-1-case-1-mobile {
    display: flex;
    width: 370px;
    height: 276px;
    padding: 30px 24px;
    justify-content: center;
    align-items: center;
  }

  .card-2-case-1-mobile {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 100%;
    padding: 24px;
    gap: 5px;
    border-radius: 0 0 16px 16px;

  }

  .card-2-case-1-mobile>ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
  }

  .card-case-1 {
    display: none;
  }



  .card-2-case-1 {
    display: none;
  }

  .card-2-case-1>ul {
    display: none;
    ;
  }

}