.case-sucesso-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 670px;
  margin: 0 auto;
  position: relative;
  top: 0px;
  left: 0px;
}

.case1,
.case2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 670px;
  max-width: 1020px;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  left: calc(50% - 510px);
  z-index: 1;
}



.case1-bg-desktop,
.case2-bg-desktop {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px
}

.card-1-case-1,
.card-1-case-2 {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: left;
  align-items: center;
  gap: 40px;
  z-index: 1;
}

.case-1-bg-mobile,
.case-2-bg-mobile {
  display: none;
}

.case-titulo-mobile {
  display: none;
}

.card-1-case-1-mobile,
.card-2-case-1-mobile {
  display: none;
}

.container-card-1-case-1,
.container-card-1-case-2 {
  display: flex;
  width: 365px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  color: #fff;
  text-align: left;
  gap: 20px;
}

.card-2-case-1,
.card-2-case-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  gap: 16px;
  width: 334px;
  padding: 32px;
  background-color: #fff;
  border-radius: 16px 16px 0 0;
  font-size: 12px;
  position: absolute;
  bottom: 0%;
  left: 50%;

  /* Alterado para relativo */
}

.card-1-case-1-mobile,
.card-1-case-2-mobile {
  display: none;
}

.card-2-case-1-mobile,
.card-2-case-2-mobile {
  display: none;
}

.card-2-case-1>ul,
.card-2-case-2>ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  text-align: left;
  list-style: none;
  padding: 0;
}

.slide-cases {
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.slide-cases.active {
  opacity: 1;
  visibility: visible;
}

.carousel-cases {
  position: relative;
  top: 570px;
  left: -450px;
  display: flex;
  align-items: center;
  width: 120px;
  height: 24px;
  gap: 5px;
  z-index: 10;

}

.carousel-cases .carousel-left-cases,
.carousel-cases .carousel-right-cases {
  background: transparent;
  border: none;
  cursor: pointer;
}

.carousel-cases span {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
}

.carousel-cases span.active {
  background-color: #007bff;
}

@media (max-width: 600px) {
  .case-sucesso-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 735px;
    margin: 0 auto;
    position: relative;
    top: 0px;
    left: 0px;
  }

  .case1,
  .case2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 670px;
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  }



  .case1-bg-desktop,
  .case2-bg-desktop {
    display: none;
  }

  .card-1-case-1,
  .card-1-case-2 {
    display: none;
  }

  .case-1-bg-mobile,
  .case-2-bg-mobile {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
    z-index: 1;
    position: relative;
    top: 0px;
    left: 0px
  }

  .case-titulo-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: left;
    align-items: center;
    gap: 5px;
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 0px
  }



  .container-card-1-case-1,
  .container-card-1-case-2 {
    display: none;
  }

  .card-2-case-1,
  .card-2-case-2 {
    display: none;
  }

  .card-1-case-1-mobile,
  .card-1-case-2-mobile {
    display: flex;
    width: 358px;
    height: auto;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    gap: 40px;
    z-index: 1;
    position: relative;
    padding: 36px 24px 36px 24px;

    padding-top: 80px;
  }

  .card-2-case-1-mobile,
  .card-2-case-2-mobile {
    display: flex;
    flex-direction: column;
    width: 358px;
    height: 212px;
    padding: 36px 24px 36px 24px;
    justify-content: left;
    align-items: flex-start;
    gap: 40px;
    z-index: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 0 0 16px 16px;
  }

  .card-2-case-1>ul,
  .card-2-case-2>ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    text-align: left;
    list-style: none;
    padding: 0;
  }

  .slide-cases {
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
  }

  .slide-cases.active {
    opacity: 1;
    visibility: visible;
  }

  .carousel-cases {
    position: absolute;
    top: 310px;
    left: calc(50% - 60px);
    display: flex;
    align-items: center;
    width: 120px;
    height: 24px;
    gap: 5px;
    z-index: 10;

  }

  .carousel-cases .carousel-left-cases,
  .carousel-cases .carousel-right-cases {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .carousel-cases span {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
  }

  .carousel-cases span.active {
    background-color: #007bff;
  }
}