.difericiais-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  grid-template-rows: auto;
  width: 100%;
  height: 603px;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 20px;
  margin: 0 auto;
}

.container-diferenciais {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 20px;
}

.diferenciais {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 20px;
  max-width: 720px;
  height: 100%;
}

.faq-container::after {
  position: relative;
  background-image: url('../../img/detalhebg2.png');
  top: -95px;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: "";
}

.faq-container {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 720px;
  z-index: 2;
  justify-content: center;

}

.faq-item {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.faq-item:hover {
  background-color: #e0e0e0;
}

.faq-title {
  display: flex;
  font-size: 18px;
  background-color: #e0e0e0;
  width: 100%;
  height: 100%;
  padding: 16px;
  margin: 0;


}

.faq-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  top: 15px;
}

.faq-item.active .faq-icon {
  transform: rotate(180deg);
}

.faq-content {
  display: none;
  padding: 16px;
  border-top: 1px solid #d0d0d0;
  width: auto;
}

.faq-item.active .faq-content {
  display: block;
  background-color: var(--w);
  width: 100%;
  margin: 0;
}