.empresa-section {
  display: flex;
  flex-direction: row;
  height: 997px;
  padding-left: 80px;
  background-color: #f3f4f3;
  width: 100%;
  max-width: 1600px;
}


.container-empresa {
  display: flex;
  flex-direction: column;
  height: 997px;
  width: 50%;
  justify-content: center;
  gap: 38px;
}

.container-img-empresa {
  display: flex;
  justify-content: right;
  position: relative;
  width: 50%;
  height: 70%;
  size: cover;
  overflow: hidden;
}


.container-img-empresa::before {
  content: "";
  background-image: url('../../img/detalhe-bg-empresa-fotos.svg');
  position: absolute;
  top: 6px;
  left: 50px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.img-empresa {

  width: 65%;
  height: 80%;
  object-fit: cover;
  position: absolute;
  top: 6px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  /* Transição suave de opacidade */
}

.img-empresa.active {
  opacity: 1;
}