.hero-section {
  display: flex;
  flex-direction: column;
  width: 1600px;
  height: 695px;
  margin: 0 auto;
  margin-bottom: -54px;
}

/* 
.container-headers {
  display: flex;
  height: 642px;
  width: 100%;

} */

.container-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
}

.card-1-hero {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
  left: 280px;
  background-color: var(--p3);
  background-size: cover;
  height: 642px;
  width: 125%;
  padding: 100px;
  margin-left: -280px;
  z-index: 1;
}

.bg-1-img::after {
  content: "";
  background-color: var(--p3);
  display: flex;
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.bg-2-img {
  background-color: var(--p4);
}