@import "../estilos/hero/header-1.css";
@import "../estilos/hero/header-2.css";
@import "../estilos/hero/header-3.css";
@import "../estilos/hero/header-4.css";

.heros {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 726px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;

}

.container-header {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  height: 642px;
  max-height: 642px;
  top: 0;
  left: calc(50% - 720px);
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 84px;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.container-header.active {
  opacity: 1;
  visibility: visible;

}

.header-side-right {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 800px;
  height: 642px;
  max-height: 642px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
}

.header-side-right-3,
.header-side-right-4 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 800px;
  height: 642px;
  max-height: 642px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
}



.container-img-hero {
  display: flex;
  object-fit: contain;
  justify-content: right;
  object-fit: cover;
  height: 642px;
}

.bg-img-desktop {
  display: block;
  width: 100%;
  height: 100%;
  size: cover;
  background-repeat: no-repeat;
}

.bg-img-mobile {
  display: none;
}

/* comandos do carousel*/
.carousel-headers {
  position: absolute;
  top: 90%;
  left: calc(50% - 8rem);
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  z-index: 5;

}

.carousel-left,
.carousel-right {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.carousel-headers span {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
}

.carousel-headers span.active {
  background-color: #007bff;
}

.carousel-buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0%;
  justify-content: center;
  z-index: 4;
}

@media (max-width: 600px) {

  .heros {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 493px;
    max-height: 493px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
  }

  .container-header {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 493px;
    max-height: 493px;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    margin-top: 84px;
    margin-left: 0px;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

  .container-header.active {
    opacity: 1;
    visibility: visible;

  }

  .header-side-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 493px;
    max-height: 493px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0px;
  }

  .header-side-right-3,
  .header-side-right-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 493px;
    max-height: 493px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 35px;
  }



  .container-img-hero {
    display: flex;
    object-fit: contain;
    justify-content: right;
    object-fit: contain;
    height: 493px;
    max-height: 493px;
    width: 100%;
  }

  .bg-img-desktop {
    display: none;

  }

  .bg-img-mobile {
    display: flex;
    width: 100%;
    height: 100%;
  }


  /* comandos do carousel*/
  .carousel-headers {
    position: absolute;
    top: 110%;
    left: calc(50% - 8rem);
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    z-index: 5;

  }

  .carousel-left,
  .carousel-right {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }

  .carousel-headers span {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
  }

  .carousel-headers span.active {
    background-color: #007bff;
  }

  .carousel-buttons {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0%;
    justify-content: center;
    z-index: 4;
  }

}