@import "../estilos/hero/header-1.css";
@import "../estilos/hero/header-2.css";
@import "../estilos/hero/header-3.css";
@import "../estilos/hero/header-4.css";


.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 695px;
  margin-bottom: -50px;
}

.container-headers {
  position: relative;
  width: 100%;
  max-width: 1600px;
  /* Define o tamanho máximo */
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.container-header.active {
  opacity: 1;
  visibility: visible;
}

.carousel {
  display: block;
  width: 100%;
  height: auto;
  top: 90%;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

.carousel-left,
.carousel-right {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.carousel-indicators {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.carousel-indicators span {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
}

.carousel-indicators span.active {
  background-color: #007bff;
}


.carousel-buttons {
  display: flex;
  position: relative;
  top: 90%;
  left: 0%;
  justify-content: center;
  z-index: 4;
}