.impacto-section {
  display: flex;

  height: 722px;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.container-impacto {
  display: grid;
  grid-template-columns: auto 1fr;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 1440px;

}

.container-animacao {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 200px;

}


.container-imagem {
  display: flex;
  height: 100%;
  width: 700px;
  background-image: url('../../img/bg/detalhe.bg.imapctop.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  justify-content: right;
  align-items: flex-end;
  left: calc(100% - 700px);
  bottom: 0;
}

.img-impacto-mulher {
  display: flex;
  height: 98%;
  width: 100%;
  object-fit: contain;
  position: absolute;

  justify-content: flex-start;
  align-items: flex-end;
  bottom: 0;
  left: -28%;
  overflow: hidden;

}

/* animacao imapacto */


.impacto-container {

  text-align: left;
}


.impacto-word {
  display: flex;
  font-size: 6rem;
  font-weight: 700;
  padding-bottom: 64px;

  display: flex;
  opacity: 1;
}


.word {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  height: 100%;
  width: 100%;
  padding-bottom: 4px;
  font-size: 1.75rem;
  font-weight: 700;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.show-word {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 600px) {
  .impacto-section {
    display: flex;
    flex-direction: column;
    height: 891px;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin: 0 auto;
  }

  .container-impacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    flex-wrap: nowrap;
    height: 891px;
    width: 100%;
    position: relative;
  }

  .container-animacao {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: left;
    align-items: flex-start;
    position: absolute;
    top: 10%;
    left: -40%;
  }


  .container-imagem {

    display: flex;
    height: 61%;
    width: 100%;
    background-image: url('../../img/bg/detalhe.bg.imapctop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    justify-content: left;
    align-items: flex-start;
    top: 335px;
    left: 0px;
    margin: 0 auto;
  }

  .img-impacto-mulher {
    display: flex;
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 20px;
    left: 0px;
    justify-content: center;
    align-items: flex-end;
  }

  /* animacao imapacto */


  .impacto-container {
    text-align: left;
  }

  .impacto-word {
    display: flex;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    padding-bottom: 14px;
    opacity: 1;
  }


  .word {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  }

  .show-word {
    opacity: 1;
    transform: translateX(0);
  }
}