.impacto-section {
  display: flex;
  height: 722px;
  width: 1600px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin: 0 auto;
}

.container-animacao {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
}


.container-imagem {
  display: flex;
  height: 100%;
  width: 50%;
  background-image: url('../../img/detalhe.bg.imapctop.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  justify-content: right;
  align-items: flex-start;
}

.img-impacto-mulher {
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: relative;
  top: 20px;
  left: -150px;
  justify-content: center;
  align-items: flex-start;
}

/* animacao imapacto */


.impacto-container {
  text-align: left;
}

.impacto-word {
  display: flex;
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
  opacity: 1;
}


.word {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.show-word {
  opacity: 1;
  transform: translateX(0);
}