.integracoes-section {
  display: flex;
  flex-direction: column;
  background-image: url('../../img/bg/bg.integracoes.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 320px;
  margin-top: 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}

.integracoes-section h2 {
  margin-bottom: 60px;
}

.unique-carousel-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.unique-carousel-content {
  display: flex;
  animation: unique-scroll 20s linear infinite;
}

.unique-carousel-item img {

  max-width: 100%;
  height: 100%;
  align-self: end;
  z-index: 1;
}

@keyframes unique-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}