.integracoes-section {
  text-align: center;
  color: #00a8e8;
  font-weight: 700;
  font-size: 3.25em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 30px;
}

.unique-carousel-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.unique-carousel-content {
  display: flex;
  animation: unique-scroll 20s linear infinite;
}

.unique-carousel-item img {
  width: 100vw;
  height: auto;
}

@keyframes unique-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}