.manifesto-section {
  display: flex;
  height: 670px;
  width: 100%;
  max-width: 1440px;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
  border-bottom: #fff solid 21px;
  margin: 0 auto;
  position: relative;
}

.manifesto-bg-desktop {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.manifesto-bg-mobile {
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
}

.container-manifesto {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1
}

.manifesto p {
  font-size: 20px;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 32px;
}

.manifesto h4 {
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}

@media (max-width: 600px) {
  .manifesto-section {
    display: flex;
    flex-direction: column;
    height: 670px;
    width: 100%;
    justify-content: left;
    align-items: end;
    padding: 0 25px;
    border-bottom: #fff solid 0px;

  }

  .container-manifesto {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: left;
    align-items: end;
    margin-left: 0px;
    padding-bottom: 100px;
  }

  .manifesto-bg-desktop {
    display: none;
  }

  .manifesto-bg-mobile {
    display: flex;
  }
}