.manifesto-section {
  display: flex;
  height: 670px;
  width: 100%;
  max-width: 1440px;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.manifesto-bg-desktop {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.manifesto-bg-mobile {
  display: none;
}

.container-manifesto {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 32px;
  z-index: 1
}

.card-manifesto {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-left: 120px;
  gap: 32px;
}


.container-manifesto h2 {
  font-size: 3rem;
  color: var(--p3);
}

.manifesto p {
  font-size: 20px;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 32px;
}

.container-list-manifesto {
  font-weight: 400;
  font-size: 28px;
  color: #fff;
  gap: 30px;
}

@media (max-width: 600px) {
  .manifesto-section {
    display: flex;
    height: 670px;
    width: 100%;
    max-width: 100%;
    max-height: 670px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

  }

  .manifesto-bg-desktop {
    display: none;
  }

  .manifesto-bg-mobile {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 1;
  }

  .container-manifesto {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: left;
    align-items: flex-start;
    position: absolute;
    padding-left: 35px;
    padding-bottom: 80px;
    top: 20%;
    left: -30%;
    z-index: 1;
  }

  .container-manifesto h2 {
    font-size: 2rem;
    color: var(--w);
    margin-bottom: 10px;
  }

  .container-list-manifesto {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    gap: 30px;
  }

  .manifesto p {
    font-size: 16px;
    color: var(--p1);
    margin-top: 32px;
    margin-bottom: 32px;
  }



}