.manifesto-section {
  background-image: url('../../img/homem._com\ _celular.png');
  background-size: cover;
  height: 670px;
  max-width: 1600px;
  border-bottom: #fff solid 21px;
  margin: 0 auto;
}

.manifesto {
  display: flex;
  height: 100%;
  align-items: center;

}

.manifesto p {
  font-size: 20px;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 32px;
}

.manifesto h4 {
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}