.container-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--p4);
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

nav {
  display: flex;
  width: 100%;
  max-width: 1300px;
  height: 84px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 23px;
  width: 123px;
}


.navbar-nav {

  justify-content: space-between;
  list-style: none;

}

.menu-nav-page {
  justify-content: space-between;
  width: 100%;
  max-width: 594px;
  display: flex;
  gap: 16px;

}

.container-btn-funtion {
  display: flex;
  align-items: center;
  gap: 10px;

}

.btn-linguagem {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.btn-header-select-language {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

}


.select-language-header {
  display: none;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 85px;
  right: calc(45% - 600px);
  z-index: 12;
  background-color: var(--p4);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: solid 1px var(--w);
  width: 120px;
}

.select-language-header.active {
  display: flex;
}


.btn-menu-mobile {
  display: none;
  position: absolute;
  top: 30%;
  left: 90%;
  z-index: -10;

}

.menu-mobile {
  display: none;
}



@media (max-width: 600px) {
  nav {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 84px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  .menu-nav-page {
    display: none;
  }

  .container-btn-funtion {
    display: none;
  }

  .btn-menu-mobile {
    display: flex;
    z-index: 10;
  }

  .menu-mobile {
    display: none;
    width: 100%;
    max-width: 100%;
    height: 650px;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    padding: 35px;
    color: var(--w);
    z-index: 9;
  }

  .menu-mobile.active {
    display: flex;
  }

  .menu-mobile>ul {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
    gap: 30px;
    justify-content: center;
    align-items: align-start;
    flex-direction: column;
    position: relative;
    top: 35px;
    left: 0px;
    color: var(--w);
    z-index: 9;
  }

}