.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 123px;
}

.navbar-nav {
  list-style: none;
}

.btn-navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 5px;
  height: 36px;
  width: auto;
  align-items: center;
  justify-content: center;
}