.produto {
  display: flex;
  width: 100%;
  height: 709px;
  max-width: 100%;
  margin: 0 auto;
  border-top: solid 24px var(--p5);
  position: relative;
  top: 0px;
  left: 0px;
  background-image: url('../../img/bg/bg1.png');
  background-size: cover;
}


.container-produto {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1028px;
  height: 709px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 79px;
  background-image: url('../../img/bg/bg-produto.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--p4);

}


.card-produto {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}

.card-produto>p {
  width: 350px;
  line-height: 24px;
}


.container-img-produto {
  display: flex;
  width: 500px;
  max-height: 500px;
  border-radius: 16px;
  justify-content: right;
  align-items: right;
  gap: 79px;
}

.btn-produto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  padding: 12px 24px;
  gap: 8px;
}

@media (max-width: 600px) {
  .produto {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-top: solid 1px var(--p5);
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 20px;
    /* Adicionando padding inferior */
  }

  .container-produto {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
    margin: 0 auto;
    gap: 20px;
    /* Ajustando o espaçamento */
    position: relative;
    /* Alterado para relativo */
  }

  .card-produto {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  .container-img-produto {
    display: flex;
    width: 100%;
    max-height: 100%;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    padding-bottom: 56px;
  }

  .container-img-produto>img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
    object-fit: cover;
  }
}