.poduto {
  display: flex;
  width: 100%;
  height: 709px;
  margin: 0 auto;
  background-image: url("../../img/produto.png");
}

.container-produto {
  display: flex;

  width: 100%;
  max-width: 1028px;
  height: 709px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.container-img-produto {
  flex: 1;
  display: flex;
  max-width: 500px;
  max-height: 500px;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}