.solucoes-section {
  display: flex;
  flex-direction: column;

  height: 695px;
}

.container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}