.solucoes-section {
  position: relative;
  top: 590px;
  display: flex;
  width: 100%;
  height: 895px;
  align-items: center;
}

.container-solucoes {
  align-items: center;
  width: 1028px;
}


.btn--solucoes {
  background-color: #f3f4f3;
  color: var(--p4);
  width: 371px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn--solucoes.active {
  background-color: var(--p4);
  color: #fff;
}

.btn--solucoes:hover {
  background-color: var(--p3);
}

.container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section-cards {
  display: flex;
  position: relative;
  height: 422px;
  width: 1230px;
  margin: 0 auto;
}

.card-container {
  flex: 0 0 300px;
  /* Largura de cada card */
  height: 400px;
  margin-right: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.container-cards-industria {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: auto;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.cards-carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-track {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease;
}

.carousel-button.left {
  display: absolute;
  left: 10px;
  z-index: 2;
}

.carousel-button.right {
  display: absolute;
  right: 10px;
  z-index: 2;
}

.container-cards-segmento {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: auto;
  opacity: 0;
  transform: translatey(100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.container-cards-industria.active,
.container-cards-segmento.active {
  opacity: 1;
  transform: translateX(0);
}



.container-cards-industria.exit {
  transform: translateX(-100%);
}

.container-cards-segmento.exit {
  transform: translateY(100%);
}

.card-1 {
  background-image: url('../../img/card-1.jpg');
}

.card-2 {
  background-image: url('../../img/card-2.jpg');
}

.card-3 {
  background-image: url('../../img/card-3.jpg');
}

.card-4 {
  background-image: url('../../img/card-4.jpg');
}

.card-5 {
  background-image: url('../../img/card-5.jpg');
}

.s-card-1 {
  background-image: url('../../img/s-card-1.jpg');
}

.s-card-2 {
  background-image: url('../../img/s-card-2.jpg');
}

.s-card-3 {
  background-image: url('../../img/s-card-3.jpg');
}

.card-container {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-container h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  background: #083b5be8;
  color: white;
  text-align: center;
  padding: 10px;
}

.card-container:hover {
  display: flex;
  flex-direction: column;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--p4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card-container:hover .text-overlay {
  opacity: 1;
}